## Homework - Week 1

### Set up the environment

You need to install Python, NumPy, Pandas, Matplotlib and Seaborn. For that, you can the instructions from
[06-environment.md](https://github.com/alexeygrigorev/mlbookcamp-code/blob/master/course-zoomcamp/01-intro/06-environment.md).

### Question 1

What's the version of Pandas that you installed?

You can get the version information using the `__version__` field:

```python
pd.__version__
```

In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [36]:
# Solution
pd.__version__

'2.1.0'

### Getting the data

For this homework, we'll use the California Housing Prices dataset. Download it from
[here](https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv).

You can do it with wget:

```bash
wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
```

Or just open it with your browser and click "Save as...".

Now read it with Pandas.

### Question 2

How many columns are in the dataset?

- 10
- 6560
- 10989
- 20640

In [37]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv

--2023-09-11 20:46:03--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1423529 (1.4M) [text/plain]
Saving to: 'housing.csv.1'

     0K .......... .......... .......... .......... ..........  3% 2.06M 1s
    50K .......... .......... .......... .......... ..........  7% 4.95M 0s
   100K .......... .......... .......... .......... .......... 10% 3.39M 0s
   150K .......... .......... .......... .......... .......... 14% 4.83M 0s
   200K .......... .......... .......... .......... .......... 17% 7.49M 0s
   250K .......... .......... .......... .......... .......... 21% 3.67M 0s
   300K .......... .......... .......... .......... .......... 25% 10.7M 0s
   350K .......... .......... .......... .......... .......... 28% 3.93M 0s
   400K .......... .......... .......... .......... .......... 32% 3.38M 0s
   450K .......... .......... .......... .......... .......... 35% 17.3M 0s
   500K .......... .......... .......... .......... .......... 39% 4.45M 0s
   550K .......... .......... .......... .......... .......... 43% 7.04M 0s
   600K .......... .......... .......... .......... .......... 46% 3.35M 0s
   650K .......... .......... .......... .......... .......... 50% 6.22M 0s
   700K .......... .......... .......... .......... .......... 53% 4.41M 0s
   750K .......... .......... .......... .......... .......... 57% 7.69M 0s
   800K .......... .......... .......... .......... .......... 61% 5.55M 0s
   850K .......... .......... .......... .......... .......... 64% 4.99M 0s
   900K .......... .......... .......... .......... .......... 68% 5.56M 0s
   950K .......... .......... .......... .......... .......... 71% 5.06M 0s
  1000K .......... .......... .......... .......... .......... 75% 3.89M 0s
  1050K .......... .......... .......... .......... .......... 79% 10.7M 0s
  1100K .......... .......... .......... .......... .......... 82% 5.18M 0s
  1150K .......... .......... .......... .......... .......... 86% 4.41M 0s
  1200K .......... .......... .......... .......... .......... 89% 5.16M 0s
  1250K .......... .......... .......... .......... .......... 93% 3.43M 0s
  1300K .......... .......... .......... .......... .......... 97% 7.87M 0s
  1350K .......... .......... .......... ..........           100% 9.07M=0.3s

2023-09-11 20:46:04 (4.87 MB/s) - 'housing.csv.1' saved [1423529/1423529]

In [48]:
data = pd.read_csv("housing.csv")

In [49]:
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [50]:
data.shape  # Solution 20640 rows

(20640, 10)

### Question 3

Which columns in the dataset have missing values?

- `total_rooms`
- `total_bedrooms`
- both of the above
- no empty columns in the dataset

In [51]:
missing_values_count = data.isnull().sum()

In [52]:
missing_values_count  # Solution: 207 missing values in total_bedrooms column

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

### Question 4

How many unique values does the `ocean_proximity` column have?

- 3
- 5
- 7
- 9

In [53]:
data["ocean_proximity"].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [54]:
# Solution
data["ocean_proximity"].nunique()  # 5

5

### Question 5

What's the average value of the `median_house_value` for the houses located near the bay?

- 49433
- 124805
- 259212
- 380440

In [55]:
mean_median_house_value_near_bay = np.mean(
    data[data["ocean_proximity"] == "NEAR BAY"]["median_house_value"]
)
mean_median_house_value_near_bay  # 259212.311790393

259212.31179039303

### Question 6

1. Calculate the average of `total_bedrooms` column in the dataset.
2. Use the `fillna` method to fill the missing values in `total_bedrooms` with the mean value from the previous step.
3. Now, calculate the average of `total_bedrooms` again.
4. Has it changed?

Has it changed?

> Hint: take into account only 3 digits after the decimal point.

- Yes
- No

In [56]:
mean_total_bedrooms = np.mean(data["total_bedrooms"])
print(mean_total_bedrooms)
data["total_bedrooms"].fillna(mean_total_bedrooms, inplace=True)
mean_total_bedrooms = np.mean(data["total_bedrooms"])
print(mean_total_bedrooms)

# Solution No, the mean value of total_bedrooms has no changed

537.8705525375618
537.8705525375617

### Question 7

1. Select all the options located on islands.
2. Select only columns `housing_median_age`, `total_rooms`, `total_bedrooms`.
3. Get the underlying NumPy array. Let's call it `X`.
4. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
5. Compute the inverse of `XTX`.
6. Create an array `y` with values `[950, 1300, 800, 1000, 1300]`.
7. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
8. What's the value of the last element of `w`?

> **Note**: You just implemented linear regression. We'll talk about it in the next lesson.

- -1.4812
- 0.001
- 5.6992
- 23.1233

In [57]:
# 1. Select all the options located on islands.
data_selected = data[data["ocean_proximity"] == "ISLAND"]

# 2. Select only columns `housing_median_age`, `total_rooms`, `total_bedrooms`.
data_selected = data_selected[["housing_median_age", "total_rooms", "total_bedrooms"]]

# 3. Get the underlying NumPy array. Let's call it `X`.
X = np.array(data_selected)

# 4. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
XTX = X.T.dot(X)

# 5. Compute the inverse of `XTX`.
XTX_inv = np.linalg.inv(XTX)

# 6. Create an array `y` with values `[950, 1300, 800, 1000, 1300]`.
y = np.array([950, 1300, 800, 1000, 1300])

# 7. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
w = XTX_inv.dot(X.T).dot(y)

# 8. What's the value of the last element of `w`?
w[-1]

5.699229455065586

## Submit the results

- Submit your results here: https://forms.gle/jneGM91mzDZ23i8HA
- You can submit your solution multiple times. In this case, only the last submission will be used
- If your answer doesn't match options exactly, select the closest one

## Deadline

The deadline for submitting is 18 September 2022 (Monday), 23:00 CEST (Berlin time).

After that, the form will be closed.